<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gmmha.dailyexpense">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nav.activity.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav.activity.AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav.activity.pieChartActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".content.activity.MedicalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".content.activity.ContentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav.activity.BalanceActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".content.activity.GroceryActivity" />
        <activity android:name=".content.activity.ClothesActivity" />
        <activity android:name=".content.activity.MessActivity" />
        <activity android:name=".content.activity.EntertainmentActivity" />
        <activity android:name=".content.activity.FeesActivity" />
        <activity android:name=".content.activity.RentActivity" />
        <activity android:name=".content.activity.TelephoneActivity" />
        <activity android:name=".content.activity.ElectricityActivity" />
        <activity android:name=".content.activity.RepairActivity" />
        <activity android:name=".content.activity.CableActivity" />
        <activity android:name=".content.activity.TravelActivity" />
        <activity android:name=".content.activity.OthersActivity"></activity>
    </application>

</manifest>